@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F1442D;
  font-family: Roboto Slap, sans-serif;
  color: #F1C521;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 440px;
  height: 630px;
  background: #1E6CD5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

/* Form */
form{
  width: 90%;
}

.form-group{
  height: 65px;
}

label{
  position: relative;
  bottom: 3px;
}

input{
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 3px solid #5C239E;
  border-radius: 5px; 
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
  background: #F58F00;
}

input:valid{
  border: 3px solid #3AB441;
}

input:invalid{
  border: 3px solid #F1442D;
}

button{
  cursor: pointer;
  color: #5C239E;
  background: #F1C521;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: Roboto Slap, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
  transition: 3s;
}

button:hover{
  transition: 3s;
  background: #F58F00;
  color: #5C239E;
}

button:focus{
  outline: none;
}

.message-container{
  border: 3px solid #F58F00;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #F1C521;
}

::placeholder{
  color: #1E6CD5;
}